# registry=https://verdaccio.bedrock.tech
# # Because of scripts/check-lockfile
# public-hoist-pattern[]=@octokit*
# # Because of scripts/moonlight-release
# public-hoist-pattern[]=@6play/ryp
# # Because of https://pnpm.io/npmrc#package-manager-strict
# # https://github.com/pnpm/pnpm/pull/8166
# package-manager-strict=false
